@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

body {
font-family: "Francois One", serif;
font-weight: 400;
font-style: normal;
margin: 0;
background-color: #333;
height: 100vh;
}

/* ===== HEADER ===== */
header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 5px 10px;
background: rgba(255, 255, 255, 0.74); /* Fondo blanco con opacidad */
}

/* Menú centrado */
nav ul {
list-style: none;
display: flex;
gap: 50px;
font-size: 24px;
}

nav ul li a {
text-decoration: none;
color: #333;
font-weight: 600;
transition: color 0.3s;
}

nav ul li a:hover {
color: #f44336;
}

/* Logo y nombre a la derecha */
.logo-name {
display: flex;
align-items: center;
gap: 8px;
font-size: 24px;
cursor: pointer;
}

.logo-name img {
    width: 45%;
}
.logout{
    display: flex;
    justify-content: end;
    width: 12%;
    cursor: pointer;
}
.logout img{
    width: 25%;
}


/* ===== HERO ===== */
.hero {
position: relative;
width: 100%;
height: 70vh; /* Ajusta la altura a tu gusto */
background: url("img/hero.jpg") no-repeat center center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #fff;
}

/* Capa de oscurecimiento opcional para texto legible */
.hero::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.3);
}

.hero-content {
position: relative; /* Para que el texto quede por encima de la capa oscura */
z-index: 1;
max-width: 800px;
margin: 0 auto;
}

.hero-content h1 {
font-size: 3rem;
margin-bottom: 10px;
}

.hero-content p {
font-size: 1.2rem;
}

/* ===== FOOTER ===== */
footer {
background: #f1f1f1;
text-align: center;
padding: 10px 0;
}

footer p {
color: #333;
}


.image-section {
    display: flex;
    width: 100%;
    height: 40vh;
    background: url("img/fondofondo.jpg");
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-top: 2px solid gray;
    padding: 20px 0px;
}

.image-pedidos {
    background: url("img/pedidos.jpg") no-repeat center center;
    background-size: cover;
    width: 20%;
    height: 90%;
    border: 2px solid gray;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 32px;
    font-weight: 800;
    -webkit-text-stroke: 0.3px black;
    text-shadow: 2px 2px 4px rgba(124, 9, 9, 0.671);
    transition: filter 0.3s ease;
    cursor: pointer;
}


.image-mesas {
    background: url("img/mesas.jpg") no-repeat center center;
    background-size: cover;
    width: 20%;
    height: 90%;
    border: 2px solid gray;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 32px;
    font-weight: 800;
    -webkit-text-stroke: 0.3px black;
    text-shadow: 2px 2px 4px rgba(124, 9, 9, 0.671);
    transition: filter 0.3s ease;
    cursor: pointer;
}

.image-pedidos:hover,
.image-mesas:hover {
  filter: brightness(0.7);
}


@media (min-width:481px) and (max-width:930px){
    header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px 10px;
        background: rgba(255, 255, 255, 0.74);
    }
    .hero-content h1{
        width: 80%;
        margin: auto;
    }
    .logout img{
        width: 100%;
    }
    nav ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 20px;
        }
    nav ul li a{
        font-size: 15px;
    }
    .logo-name span {
        font-size: 15px;
        margin: 0;
    }
    .image-pedidos,.image-mesas{
        width: 30%; 
    }

}



@media (max-width:480px){
    nav{
        display: none;
    }
    .logo-name span {
        font-size: 15px;
        margin: 0;
    }
    .image-pedidos,.image-mesas{
        width: 42%; 
    }
    .hero-content h1{
        font-size: 28px;
        width: 80%;
        margin: auto;
    }
    .hero-content p{
        font-size: 14px;
        width: 80%;
        margin: auto;
    }
    .logout img{
        width: 100%;
    }
}
